/* BASIC STYLES HERE */
body {
    background-position: center;
    background-size: cover;
}

.quote-content {
    cursor: pointer;
}

.quote-author {
    visibility: hidden;
}

.quote-content:hover+.quote-author {
    visibility: visible;
    opacity: 1;
}